<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Visitor-Count page</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <!-- home container id starts -->
    <div id="home-container">
        <!-- inner sub id starts -->
        <div id="inner">
            <img src="assets/logo.png" alt="Crypts logo" id="logo">
            <h1>Developer + Operations = DevOps</h1>
            <p class="subtitle">A methodlogy embraced by Companies to escalate developing high reliable applications</p>
            <a href="javascript:window.location.href=window.location.href" class="cta">Visitors Count : <%= visits %>, Click to increase</a>

        </div>
        <!-- inner sub id ends -->

        <!-- illustration sub id starts -->
        <div id="illustration">
            <img src="assets/monitor.svg" alt="monitor img" id="monitor">
        </div>
        <!-- illustration sub id ends -->
    </div>
    <!-- home container id ends -->
</body>
</html>
